body {
	min-width: 475px;
	margin: 0;
	font-family: 'Galindo', Arial, sans-serif;
	background: #DADBDC url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/45degreee_fabric.png);
}

main,
.result-area,
.quiz-area {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

main {
	position: relative;
	height: 100vh;
}

.playground {
	padding: 1em;
	text-shadow: 1px 1px 1px rgb(128, 0, 0);
	color: rgb(165, 40, 40);
	border-radius: 6px;
	box-shadow:
		-15px -15px 2px -5px rgba(160, 82, 45, .6),
		-15px 15px 2px -5px rgba(0, 255, 255, .6),
		15px -15px 2px -5px rgba(255, 0, 0, .6),
		15px 15px 2px -5px rgba(255, 255, 0, .6),
		0 0 15px 10px rgba(224, 0, 0, .6);
}

.result-area,
.quiz-area {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-width: 400px;
	line-height: 46px;
	outline: none;
}

.result-area {
	font-size: 1.5rem;
}

.quiz-area {
	/* Лида, 2016.05.19: реализована подсветка клавиш при ошибочном нажатии. */
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 2rem;
	text-align: center;
}

/* Лида, 2016.05.19: реализована подсветка клавиш при ошибочном нажатии. */
.quiz-area span {
	display: inline-block;
	vertical-align: baseline;
}
.quiz-area .descr {
	width: 100%;
}
.quiz-area .key {
	position: relative;
	margin-right: 1em;
}
.quiz-area .key:last-child {
	margin-right: 0;
}
.quiz-area .key:not(:last-child)::before {
	content: '+';
	position: absolute;
	left: 100%;
	width: 1em;
	text-align: center;
}
.quiz-area .invisible {
	display: none;
}
/* Лида, 2016.05.23: реализована подсветка клавиш при правильном нажатии. */
.quiz-area .success {
	background-color: rgba(97, 232, 171, .3);
	outline: 2px dashed rgb(97, 232, 171);
}
.quiz-area .error {
	background-color: rgba(165, 40, 40, .3);
	outline: 2px dashed;
}

.ide-selection {
	position: absolute;
	top: 10%;
	right: 10%;
	padding: 15px 20px;
	font-size: 1.25rem;
	font-family: inherit;
	text-shadow: 1px 1px 1px rgb(128, 0, 0);
	color: rgb(165, 40, 40);
	background-color: transparent;
	border: none;
	border-radius: 5px;
	box-shadow:
		-13px -13px 1px -7px rgba(160, 82, 45, .6),
		-13px 13px 1px -7px rgba(0, 255, 255, .6),
		13px -13px 1px -7px rgba(255, 0, 0, .6),
		13px 13px 1px -7px rgba(255, 255, 0, .6),
		0 0 15px 7px rgba(224, 0, 0, .6);
	outline: none;
}





/* 05.28 */
/* Форма для добавления IDE/шорткатов */

.ide-form {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
}

.row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.row {
	margin-bottom: 20px;
}

/* Чтобы в IE10 флекс-элементы - лейбл и спан - были блочными,
потому что иначе они останутся строчными (такой баг в этом браузере) */
.row > :first-child {
	display: block;
}

.group {
	font-size: 0;
}

.group > * {
	font-size: 1rem;
}

.empty {
	background-color: rgba(165, 40, 40, .3);
	border-color: rgb(165, 40, 40);
}
.key-input {
	width: 75px;
}

.group .btn {
	font-size: 0;
}
.group .btn:before {
	font-size: 1rem;
}
.remove-key:before {
	content: "-";
}
.add-key:before {
	content: "+";
}
.remove-group:before {
	content: "×";
}

.dialog {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
